*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #2D25A0;
    height: 685px;
}
.first-sec{
    display: flex;
    justify-content: flex-end;
    margin-left: 150px;
}
.text-first{
    color: white;
    font-size: 50px;
    font-weight: 650;
    width: 485px;
    height: 230px;
    margin-top: 121px;
    line-height: 80px;
    margin-right: 350px;
}
.img-first{
    margin-top: 100px;
    margin-right: 100px;
}
nav{
    background: #2D25A0;
    height: 80px;
    width: 100%;
}
nav ul{
    float: left;
    margin-left: 150px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 15px 15px;
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    color: rgb(119, 118, 118);
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.login-btn{
    background: #E02C6D;
    color: white;
    padding: 10px 25px 10px 30px;
    float: right;
    margin-top: 35px;
    margin-right: 124px;
    font-size: 16px;
}
.login-btn:hover{
    background: #ee3e7e;
}
.watch-btn{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    background: #E02C6D;
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 20px;
}
.watch-btn:hover{
    background: #ee3e7e;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 20px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.player{
    width: 330px;
    height: 474px;
    margin-right: 40px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.61);
    padding: 10px; 
    margin-bottom: 35px;
    
}
.player h2{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
    font-family: 'Poppins', sans-serif;
}
.player p{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;&display=swap');
    font-family: 'Poppins', sans-serif;
    color: #6C6C6C;
}
.player h2,p{
    padding: 10px;
}
.player:hover{
    background-color: rgb(212, 209, 209);
}
.player img{
    width: 310px;
    height: 310px;
    padding: 10px;
}
.second-sec{
    display: flex;
    margin-top: 150px;
    align-items: center;
}
.second-sec img{
    width: 567px;
    height: 427px;
    padding-left: 50px;
}
.text-second{
    width: 466px;
    height: 309px;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    padding-right: 30px;
}
.text-second p{
    color: #6C6C6C;
    margin-bottom: 30px;
}
footer{
    display: flex;
}
.footer-logo img{
    width: 20%;
    margin-left: 600px;
    margin-top: 100px;
}
.social-icon{
    display: flex;
    margin-top: 200px;
}
.social-icon img{
    width: 40px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
.foot{
    margin-left: 650px;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 700px;
}
@media (max-width:767px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 55px;
        left: -200%;
        text-align: center;
        background: #2D25A0;
        transition: all .5s;
        margin-top: 50px;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 15px;
        font-weight: bold;
    }
    #check:checked ~ ul{
        left: 0;
        margin-left: 0;
    }
    .login-btn{
        margin-right: 70px;
    }
    header{
        height: 1000px;
        display: flex;
        flex-direction: column;
    }
    .text-first{
        width: 150px
        margin-top: 20px;
    }
    .img-first{
        padding-top: 40px;
    }
    .players{
        display: inline-block;
    }
    .second-sec{
        display: inline-block;
    }
    .second-sec img{
        width: 450px;
    }
    .text-second{
        margin-left: 60px;
    }
}
@media (max-width: 1300px) {
    .login-btn{
        margin-right: 50px;
    }
    nav ul{
        margin-left: 50px;
    }
    nav ul li{
        margin-right: 10px;
    }
    .text-first{
        position: relative;
        font-size: 36px;
    }
    .first-sec img{
        margin-top: 250px;
        width: 450px;
    }
    .first-sec{
        margin-left: 150px;
        margin-bottom: 0;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    header{
        height: 1000px;
    }
    .second-sec{
        display: inline-block;
        justify-content: center;
    }
    .text-second{
        margin-left: 60px;
    }
    .first-sec img{
        padding-top: 50px;
        width: 450px;
        padding-bottom: 0;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer img{
        align-items: center;
    }
   
}